miniconda3/
Miniconda3-latest-Linux-x86_64.sh
ARGNet/
evo2/
Projects/Results/
Projects/models/
runs/
models/
data/
*.pt
*.pth
*.ckpt
*.bin
*.safetensors

.vscode/settings.json

*.fasta
*.fa
*.gz
pigz-2.8/
*.gbk
*.tsv
*.csv
*.nin
*.ndb
*.nseq
*.nto
*.not
*.nhr
*.nsq
*.ntf
*.njs
*.pdf
*.jsonl
*.log
*.tmp
*.temp
*.swp
*.DS_Store
